body {
    background-image: url("/static/babel-tower.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

#button {
    background-color: grey;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    height: 16px;
    position: relative;
    transition: transform linear 80ms, background-color linear 80ms;
    width: 16px;
    z-index: 1;
}