#body_index {
    background-color: #FEE9E1;
    font-family: 'Raleway', sans-serif !important;
}

.msgform {
    
}

.container {
}

#msginput{
    
}

#features{
    
}
#message-display{
   text-align: right;
   margin-right: 5em;
   margin-left: 80em;
   margin-top: 5em;
}

header {
    margin-left: 5em;
}

.bunch{
    margin-left: 5em;
}

h1{
    margin-top: 20px;
    font-size: 50px;
    color: #605754;
    font-family: 'Raleway', sans-serif !important;
    
}
#userform{
    color: #605754;
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
}