/*------------------------------------INDEX HTML------------------------------------*/

#body_index {
    background-color: #FEE9E1;
    font-family: 'Raleway', sans-serif !important;
    margin: 0;
}
#user_login_title{
    margin-top: 20px;
    font-size: 50px;
    color: #364652;
    font-family: 'Raleway', sans-serif !important;
    text-align: center;
}
header{
    margin: 0px; 
}
#userform{
    color: #364652;
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
}
/*-------------------------------- END OF INDEX HTML --------------------------------*/

/*----------------------------------- CHAT HTML -----------------------------------*/
.chat_part{
    padding-right: 0px;
    width: 76.5vw;
}
h2{
    letter-spacing: 5px;
    border: 1px #D0C6D1 solid;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}
h3{
    letter-spacing: 5px;
}
#main_user{
    text-align: center;
}

#conversation{
    width: 76.5vw;
}
h4{
    background: #D0C6D1;
    color: #364652;
    text-align: left;
    border-radius: 3%;
    padding: 15px;
    margin-bottom: 30px;
}
#users{
    letter-spacing: 2px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
}
#usernames{
    background: #364652;
    height: 100vh;
    color: #D0C6D1;
    overflow-y: scroll;
    max-height: 100vh;
}
#message_display{
    overflow-y: scroll;
    max-height: 79.6vh;
    max-width: 74vw;
    margin: 15px;
}
.important{
    font-size: 20px;
    color:red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}
.sender_user_no{
    text-align: left !important;
    font-size: 18px;
}
.sender_user_yes{
    text-align: right !important;
    padding-right: 15px;
    font-size: 18px;
}
#imp_buttons{
    background: #C7DBE6;
    text-align: right;
    width: 76.5vw;
    border-bottom: 1px solid #364652;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
}
.btn.btn-danger{
    background: black !important;
    color: #D0C6D1 !important;
    letter-spacing: 5px;
    border-color: #B5BEC6;
    margin-right: 10px;
   
}
#input{
    border-top: 1px solid #364652;
    background: #C7DBE6;
    width: 76.5vw;
    text-align: center;
    overflow-y: scroll;
    height: 10.1vh;
    padding-top: 10px;
}
#msginput{
    padding-left: 15px;
    margin: 0;
    width: 100%;
}
.write{
    padding: 0;
}
.send{
    padding: 0;
    text-align: left;
}
#formGroupInput{
    width: 98%;  
}
#features{
    margin-right: 20px;
}
#avatar{
    background: #C7DBE6;
    color: rgb(44, 44, 44);
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    border: 0.5px rgb(44, 44, 44) dotted;
}
/*------------------------------- CUSTOM CHECKBOX ------------------------------*/

input.language_icons {
  position: relative;
  margin: 0 10px;
  border-radius: 20px;
  background: #664751;
  outline: 0;
  -webkit-appearance: none;
  appearance: none; 
  cursor: pointer;
}

input.language_icons::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: calc((100% - 4px) / 2);
  height: calc(100% - 4px);
  border-radius: 50%;
  background: #D0C6D1;
  transition: all .1s linear;
}

input.language_icons:checked {
  background: #FFF;
}

input.language_icons:checked::after {
  transform: translateX(100%);
}
input.language_icons{ width: 24px; height: 14px; }
/*------------------------------- END CUSTOM CHECKBOX -----------------------------*/

/*------------------------------- END OF CHAT HTML --------------------------------*/