/*------------------------------------INDEX HTML------------------------------------*/

#body_index {
    background-color: #FEE9E1;
    font-family: 'Raleway', sans-serif !important;
    margin: 0;
}
#user_login_title{
    margin-top: 20px;
    font-size: 50px;
    color: #605754;
    font-family: 'Raleway', sans-serif !important;
    text-align: center;
}
header{
    margin: 0px; 
}
#userform{
    color: #605754;
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
}
/*-------------------------------- END OF INDEX HTML --------------------------------*/

/*----------------------------------- CHAT HTML -----------------------------------*/
#chat{
    width: 79vw;
    margin: 0px;
    
}
#conversation{
    width: 80vw;
}

#usernames{
    background: #664751;
    height: 100vh;
    color: #FAD3C9;
}
#message_display{
    overflow-y: scroll;
    max-height: 84.5vh;
    max-width: 80vw;
    margin: 15px;
}
#imp_buttons{
    text-align: right;
    width: 80vw;
}
#input{
    border-top: 1px solid #AB8C91;
    background: #B0D0D3;
    width: 80vw;
    text-align: center;
    height: 11.5vh;
    padding-top: 10px;
}
#msginput{
    padding-left: 15px;
    margin: 0;
    width: 100%;
}
.write{
    padding-right:0;
}
.send{
    padding:0;
    text-align: left;
}
#features{
    margin-right: 20px;
}

/*------------------------------- END OF CHAT HTML --------------------------------*/


input.language_icons {
  position: relative;
  margin: 0 10px;
  border-radius: 20px;
  background: #664751;
  outline: 0;
  -webkit-appearance: none;
  cursor: pointer;
}

input.language_icons::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: calc((100% - 4px) / 2);
  height: calc(100% - 4px);
  border-radius: 50%;
  background: #FAD3C9;
  transition: all .1s linear;
}

input.language_icons:checked {
  background: #FFF;
}

input.language_icons:checked::after {
  transform: translateX(100%);
}
input.language_icons:nth-child(1) { width: 24px; height: 14px; }
input.language_icons:nth-child(2) { width: 24px; height: 14px; }
input.language_icons:nth-child(3) { width: 24px; height: 14px; }
input.language_icons:nth-child(4) { width: 24px; height: 14px; }
input.language_icons:nth-child(5) { width: 24px; height: 14px; }