body {
    background-image: url("/static/babel-tower.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.msgform {
    
}

.container {
}

#message-display{
   text-align: right;
   margin-right: 5em;
   margin-left: 80em;
   margin-top: 5em;
}

header {
    margin-left: 5em;
}