<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/dwcdn/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/dwcdn/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
    <title>CHAT</title>
</head>

<body>
    
        <div class="row">
            <div id= 'usernames' class="col-sm-3">
                
                <h2 id='main_user'> User: @{{ username }} </h2>

                <div id="users" >
                    {% for key, value in users_avatars.items() %}
                    <p><h4><span id='avatar'>{{value}}</span> {{ key}}</h4></p>
                    {% endfor %}
                </div>
                 
            </div>
            
            <div class="col-sm-9 chat_part">
                <div id= 'imp_buttons'  class="row">
                    <a href="{{url_for('get_important_messages')}}" class="btn btn-danger">IMPORTANT</a>
                    <a href="{{url_for('get_hashtags')}}" class="btn btn-danger">HASHTAGS</a>
                </div>

                <div id= 'conversation' class="row">
                    <div id="message_display">
                        {% for message in all_the_messages %}
                        
                        {% if message.sender == username %} 
                        <div class="sender_user_yes">   
                        <p> 
                            <strong>{{ message.time }}</strong>                                                                           
                            <span id='avatar'>{{users_avatars[message.sender]}}</span> :                                    
                        </p>  
                                {% if message.morse == 'on' %}
                                <div class='morse'>
                                    <p>{{ turn_to_morse(message.body) }}</p>
                                </div>
                        
                                {% elif message.emoji == 'on' %}
                                <div class='emoji'>
                                    <p>{{ turn_to_emoji(message.body) }}</p>
                                </div>
                        
                                {% elif message.braille == 'on' %}
                                <div class='braille'>
                                    <p>{{ turn_to_braille(message.body) }}</p>
                                </div>
                        
                                {% elif message.binary == 'on' %}
                                <div class='binary'>
                                    <p>{{ turn_to_binary(message.body) }}</p>
                                </div>
                        
                                {% elif message.important == 'on' %}
                                <div class='important'>
                                    <p>{{ message.body }}</p>
                                </div>
                                
                                {% else  %}
                                <div >
                                    <p>{{ message.body }}</p>
                                </div>
                                {% endif %}
                        </div>    
                        
                            {% elif message.sender != username %}
                            <div class="sender_user_no">   
                            <p> 
                                <strong>{{ message.time }}</strong>                                                                           
                                <span id='avatar'>{{users_avatars[message.sender] }}</span> :                                    
                            </p>  
                                {% if message.morse == 'on' %}
                                <div class='morse'>
                                    <p> {{ turn_to_morse(message.body) }}</p>
                                </div>
                        
                                {% elif message.emoji == 'on' %}
                                <div class='emoji'>
                                    <p> {{ turn_to_emoji(message.body) }}</p>
                                </div>
                        
                                {% elif message.braille == 'on' %}
                                <div class='braille'>
                                    <p>{{ turn_to_braille(message.body) }}</p>
                                </div>
                        
                                {% elif message.binary == 'on' %}
                                <div class='binary'>
                                    <p>{{ turn_to_binary(message.body) }}</p>
                                </div>
                        
                                {% elif message.important == 'on' %}
                                <div class='important'>
                                    <p>{{ message.body }}</p>
                                </div>
                                
                                {% else  %}
                                <div>
                                    <p>{{ message.body }}</p>
                                </div>
                                {% endif %}
                            </div>
                            {% endif %} 
                        {% endfor %}
                    </div>
                </div>
            
                <div id= 'input'  class="row">
                    <form class="form-horizontal" method='POST' action='/{{username}}/new'>
                        <div id="features">
                            <div class="row">
                                <input class='language_icons' type="checkbox" name="morse"> <img src="../static/morse.png" alt="morse"> 
                                <input class='language_icons' type="checkbox" name="emoji"> <img src="../static/emoji.png" alt="emoji"> 
                                <input class='language_icons' type="checkbox" name="braille"> <img src="../static/braille.png" alt="braille"> 
                                <input class='language_icons' type="checkbox" name="binary"> <img src="../static/binary.png" alt="binary"> 
                                <input class='language_icons' type="checkbox" name="important"> <img src="../static/bomb.png" alt="important"> 
                            </div>
                        </div>
                        
                            <div id="msginput" class="row">
                                <div class="col-sm-11 write">
                                    <input class="form-control" type="text" name="message" id="formGroupInput" placeholder="Write your message! :)">  
                                </div>
                                <div class="col-sm-1 send">
                                    <button type="submit" value="Submit" class="btn btn-success">Send</button>
                                </div>
                            </div>
                    </form>
                </div>

            </div>
        </div>
</body>

</html>
