<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css" type="text/css" />
    <title>Document</title>
</head>

<body>
    <div>
        <h3>You are logged in as: @{{ username }} </h3>
        <form class="form-horizontal" method='POST' action='/{{username}}/new'>
            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label" for="formGroupInputLarge">Type your message: </label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="message" id="formGroupInputLarge" placeholder="Large input">
                    <button type="submit" value="Submit" class="btn btn-success">Send</button>
                    <input type="checkbox" name="morse"> Say it in Morse code!
                    <input type="checkbox" name="emoji"> U speak Emoji?
                    <input type="checkbox" name="important"> Is it important?
                </div>
            </div>
        </form>
    </div>
    
    <div id="message-display">
        
        {% for message in all_the_messages %} 
        
        {% if message.morse == 'on' %}
        <div style=" color:pink;">
            <p> {{ message.time }} {{ message.morse }} </p>
            <p><strong>{{ message.sender }}</strong>: {{ turn_to_morse(message.body) }}</p>
        </div>
        
        {% elif message.important == 'on' %}
        <div style=" color:red;">
            <p> {{ message.time }} {{ message.important }} </p>
            <p><strong>{{ message.sender }}</strong>: {{ message.body }}</p>
        </div>
        
        {% else %}
            <p> {{ message.time }} </p>
            <p><strong>{{ message.sender }}</strong>: {{ message.body }}</p>
        
        {% endif %} 
        
        {% endfor %}
    </div>

    <a href="{{url_for('get_important_messages')}}" class="btn btn-danger">Only Important</a>
    <a href="{{url_for('get_hashtags')}}" class="btn btn-danger">Only Hashtags</a>

</body>

</html>