<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/dwcdn/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/dwcdn/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
    <title>User Login</title>
</head>
<body id='body_index'>

    <header>
    
        <div class="row">
            <div class="col-sm-5 col-sm-offset-3">
                <h1 id='user_login_t'>Welcome to Babel</h1>
            </div>
        </div>
    
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-3">
                <form id="userform" method='POST' action="/login">
                    <h4>Please, choose a Username!</h4>
                    <input type="text" name="username"/>
                    <input type="submit"/>
                </form>
            </div>
        </div>
    </div>

    <footer>

    </footer>
</body>
</html>