<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
    <title>Document</title>
</head>
<body id='body_index'>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-3">
                    <h1>Welcome to Babel</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-3">
                <form id="userform" method='POST' action="/login">
                    <h4>Please, choose a Username!</h4>
                    <input type="text" name="username"/>
                    <input type="submit"/>
                </form>
            </div>
        </div>
    </div>

    <footer>

    </footer>
</body>
</html>